# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/x64/Debug/Demo v0.5.tlog/link.command.1.tlog
/.vs/Demo v0.5/v17/.suo
/.vs/Demo v0.5/v17/Browse.VC.db
/.vs/Demo v0.5/v17/Browse.VC.db-shm
/.vs/Demo v0.5/v17/Browse.VC.db-wal
/.vs/Demo v0.5/v17/Browse.VC.opendb
/.vs/Demo v0.5/v17/ipch/AutoPCH/25dfa47279bb9adb/BANKOPERATE.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/83070a135e0c210c/MAIN.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/904f67c48620ba9d/LINKSORT.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/a5f4c1ba1b45767/FILE.ipch
/1.txt
/Demo v0.5.sln
/Demo v0.5.vcxproj
/Demo v0.5.vcxproj.filters
/Demo v0.5.vcxproj.user
/x64/Debug/Demo v0.5.exe.recipe
/x64/Debug/Demo v0.5.ilk
/x64/Debug/Demo v0.5.log
/x64/Debug/Demo v0.5.pdb
/x64/Debug/Demo v0.5.tlog/CL.command.1.tlog
/x64/Debug/Demo v0.5.tlog/CL.read.1.tlog
/x64/Debug/Demo v0.5.tlog/CL.write.1.tlog
/x64/Debug/Demo v0.5.tlog/Demo v0.5.lastbuildstate
/x64/Debug/Demo v0.5.tlog/link.read.1.tlog
/x64/Debug/Demo v0.5.tlog/link.write.1.tlog
/x64/Debug/Demo v0.5.vcxproj.FileListAbsolute.txt
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
/.vs/Demo v0.5/v17/ipch/AutoPCH/5a01bf7be71e5c0e/MENU.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/a134589b4fc2add1/WRITING.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/d68dc046deecad22/标头.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/f11e7b21867db388/WRITING.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/cfc432525274d2b3/LINKSORT.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/228e9717bdf97164/MENU.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/6755d70439da4145/BANKOPERATE.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/76358d1369b1d31d/FILE.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/874924eb0c65b8aa/MAIN.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/a8b7db265a54ddcf/WRITING.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/31cb5c78e52221e8/MENU.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/7ca5817c2026f3ce/MAIN.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/8fdb76b18091a384/USERLIST.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/daf51e7bc67d21ec/USER.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/e525abac043ebed3/ADDRESS.ipch
/.vs/Demo v0.5/v17/ipch/AutoPCH/e5bb7a7c0cf4ba09/FILE.ipch
/x64/Debug/bankoperate.obj.enc
/x64/Debug/Demo v0.8.exe.recipe
/x64/Debug/Demo v0.8.ilk
/x64/Debug/Demo v0.8.pdb
*.tlog
*.ipch
